.filled svg {
    fill: var(--primary);
}

.star svg {
    margin-right: 5px;
}

.editable {
    cursor: pointer;
}

.ratingWrapper {
    position: relative;
}

.error {
    position: absolute;
    color: var(--red);
    bottom: -20px;
    left: 0;
}

.starsError svg {
    stroke: var(--red);
}